body{
    padding: 0;
    margin: 0;
    text-align: center;
}


.main_desc{
    color: #fff;
    font-size: 4rem;
    width: 60%;
    margin: 3rem 3rem 2rem;
    position: relative;
    font-size: 5rem;
}

.desc_image{
    width: 18rem;
    height: 18rem;
    position: absolute;
    top:11rem;
    right: 5.5rem;
    float:right;
    border-radius: 100%;

}

.download{
    margin: 2rem;
    font-family: 'Montserrat', sans-serif;

}

.download-buttons{
    margin: 2rem 13rem 2rem 8rem ;
    width: 40%;
}

.slideImg{
    width: 4rem;
    height: 36rem;
    margin-top: 0;
}

.slide-heading{
    margin-bottom: 0;

}

.dark-button{
    background-color: #c4c2c2;
    width: 2rem;
}

.cfa-desc{
    width: 90%;
    font-size: 4.5rem;
    margin: auto;
}

.download-buttons-cfa{
    margin-top: 3rem;
    margin-left: 2rem;
}

.contact-heading{

    font-family: cursive;
    font-size: 3rem;
    padding: 2rem;
}

.contact-info{
    color: #084412;
    text-align: center;
    padding: 2rem;
    width: 35%;
    margin-left:1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.contact-me-info{
    text-align: center;
    position: relative;
    float:left;
}

.contact-desc{
    width: 50%;
    position:relative;
    float: right;
    top: 100px;
}

.card{
    color: #084412;
    margin-top: 0;
    position: relative;
    bottom:20px
}

.card-header{
    font-family: 'Montserrat',sans-serif;
    font-size: 1.5rem;
    padding: 1rem;
}

.comment-box{
    width:20rem;
    height: 5rem;
}

.social-links{
    padding: 1rem;
    margin: 1rem;
    color: #000;
}

.social-links:hover{
    color: #fff;
}

.copyright{
    margin: 8rem 0 0 0;
    padding: 1.5rem;
}

.copyright-desc{
    margin: 0; 
    color: #fff;
    padding: 1.5rem;
    padding-bottom: 0;
    font-size: small;
}

#heading{
    background-color: #6AA84F;
    height: 35rem;
    padding: 3rem;
    text-align: center;
}

#product_preview{
    background-color: #fff;
    height: 20rem;
    padding:2rem 0 2rem 0;
    color: #084412;
}

#call_for_action{
    background-color: #6AA84F;
    margin: 30% 0 0 0;
    padding: 2rem;
    color: #fff;
}

#contactMe{
    background-color: #fff;
}

#footer{
    background-color: #6AA84F;
}